.App {
  text-align: left;
}

#menu-demo {
  text-align: center;
  color:#623600
}

#demo-menu-content {
  margin-left: 1em;
  margin-right: 1em;
}

.App-header {
  background-color: #ffe4c4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}